@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-weight: 100;
  font-style: normal;
  font-family: "Roboto+Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Thin.ttf");
}
@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Roboto+Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Light.ttf");
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto+Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Roboto+Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Bold.ttf");
}

.shift {
  margin-top: -100px;
  padding-top: 10px;
  background: #F8F9FA;
}

header.index-bg {
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(255, 255, 255, 0.1)),
  url("../assets/img/index-header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.about-bg {
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(255, 255, 255, 0.1)),
  url("../assets/img/about/about-header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.works-bg {
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(255, 255, 255, 0.1)),
  url("../assets/img/works/works-header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.blog-bg {
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(255, 255, 255, 0.1)),
  url("../assets/img/blog/blog-header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.contacts-bg {
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(255, 255, 255, 0.1)),
  url("../assets/img/contacts/contacts-header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.card-bg-1 {
  transition: background-position 2s;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.3)),
  url("../assets/img/index/card-1.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}
.card-bg-2 {
  transition: background-position 2s;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.3)),
  url("../assets/img/index/card-2.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}
.card-bg-3 {
  transition: background-position 2s;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.3)),
  url("../assets/img/index/card-3.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}
.card-bg-4 {
  cursor: pointer;
}
.card-bg-1:hover {
  background-position: top right;
}
.card-bg-2:hover {
  background-position: top right;
}
.card-bg-3:hover {
  background-position: top right;
}

.card-works-bg-1 {
  transition: background-position 2s;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.3)),
  url("../assets/img/works/works-card-1.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}
.card-works-bg-1:hover {
  background-position: top right;
}
.card-works-bg-2 {
  transition: background-position 2s;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.3)),
  url("../assets/img/works/works-card-2.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}
.card-works-bg-2:hover {
  background-position: top right;
}